@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Nunito Sans", sans-serif;
}
.App {
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  background-color: rgb(227, 238, 250);
}
h1 {
  margin-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}
.cryptoTable {
  box-shadow: 0px 16px 20px rgba(0, 0, 0, 0.06),
    0px 6px 20px rgba(0, 0, 0, 0.04), 0px 0px 5px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  align-self: center;
  background-color: white;
}
.red {
  color: rgb(235, 88, 88);
  position: relative;
  /* padding-left: 20px; */
}
.red:before {
  content: "";
  width: 0;
  position: absolute;
  left: 0px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(235, 88, 88);
}
.green {
  color: rgb(0, 207, 157);
  position: relative;
}
.green::before {
  content: "";
  width: 0;
  position: absolute;
  left: 0px;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(0, 207, 157);
}
.dataGrid {
  border: none !important;
  padding-inline: 10px;
  padding-top: 10px;
}
.logo {
  height: 50px;
  /* width: 60px; */
}
.header-container {
  display: flex;
  padding-left: 9rem;
}
